<!doctype html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/phone.png">
    <title>Cognitive Contact Center</title>
    <!-- Bootstrap Core CSS -->
    <link href="../static/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Custom CSS 
    <link href="../static/css/style.css" rel="stylesheet">-->
    <link href="../static/css/login.css" rel="stylesheet">
    
    </head>
    <body style="font-family:Verdana;color:gray;">
        <!--<section class="intro">
    <row>
      <div class="col-lg-2 col-sm-12 left">
        <p>
          left pannel
        </p>
      </div>
      <div class="col-lg-6 col-sm-12 left">
        <p>
          left pannel
        </p>
      </div>
      <div class="col-lg-6 col-sm-12 right">
        <p>
          right pannel
        </p>
      </div>
    </row>
  </section>-->
  <div class="container-fluid">
  
  
  <div class="col-lg-6 split left col-centered">
    <div id="overlay">
        <div id="text">
            <h1>Contact Center</h1></br>
            helps deliver business value ,while also creating new lines</br>
            of revenue and new customer experiences.</br>
            It turns every customer-facing touchpoint into a more enjoyable experience.
              <div>
            <button class="button">
                <a href="index.html"> Sign In </a>
            </button>
            
            <a href="#" class="info">
            <span class="glyphicon glyphicon-th"></span>
            </a>
            </div>
            <div><a href="#" class="btn btn-signup">Click here to Sign Up!</a></div> 
            </div>
        
</div>
  </div>
  

 <div class="col-lg-6 split right col-centered">
    <img src="../static/assets/images/phone.png" alt="homepage"  class="signIn-logo">
    <div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-heading">
				<h2 class="text-center">Login</h2>
			</div>
			<hr />
			<div class="modal-body">
				<form action="" role="form">
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">
							<span class="glyphicon glyphicon-user"></span>
							</span>
							<input type="text" class="form-control" placeholder="User Name" />
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">
							<span class="glyphicon glyphicon-lock"></span>
							</span>
							<input type="password" class="form-control" placeholder="Password" />
						</div>
					</div>
          <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
          </label>
					<div class="form-group text-center">
						<button type="submit" class="login">
              <a href="../templates/index.html" style="color:white;">Login</a></button>
						<a href="#" class="btn btn-link">forget Password</a>
					</div>

				</form>
			</div>
		</div>
	</div>
    
  </div>


<footer class="footer" >
                © 2018 Tata Consultancy Services Ltd.
</footer>
</div>
    </body>

</html>